* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  margin: 16px;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
/* #task-1 */
h2 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.uls {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 0;
}
.li-1 {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin-bottom: 8px;
  padding: 7px 16px;
}

/* images */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}
img {
  width: calc((1000px - 24px) / 3);
}

/* task-3 */
.inputs {
  width: 360px;
  padding: 8px 16px;
}
.inputs::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
/* task-3 */
/* task-4 */
.login-form {
  display: flex;
  flex-direction: column;

  width: 360px;
}
.lables {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
input {
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 7px 16px;
  margin-top: 4px;
}
.buttons {
  width: 86px;
  height: 40px;
  border-radius: 8px;
  background: #4e75ff;
  border: none;
  color: #ffffff;
}
/* task-4 */
